<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.jo_shinichi1.bisasewa">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/MyMaterialTheme">
        <activity android:name=".Activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.ScrollableTabsActivity"
            android:label="@string/title_activity_scrollable_tabs"
            android:parentActivityName=".Activity.MainActivity"></activity>
        <activity
            android:name=".Activity.SimpleTabsActivity"
            android:label="@string/title_activity_simple_tabs"
            android:parentActivityName=".Activity.MainActivity"></activity>
        <activity
            android:name=".Activity.IconTextTabsActivity"
            android:label="@string/title_activity_icon_text_tabs"
            android:parentActivityName=".Activity.MainActivity"></activity>
        <activity
            android:name=".Activity.IconTabsActivity"
            android:label="@string/title_activity_icon_tabs"
            android:parentActivityName=".Activity.MainActivity"></activity>
        <activity
            android:name=".Activity.CustomViewIconTextTabsActivity"
            android:label="@string/title_activity_custom_view_icon_text_tabs"
            android:parentActivityName=".Activity.MainActivity"></activity>
        <activity
            android:name=".Activity.ContactDetails"
            android:label="@string/title_activity_custom_view_icon_text_tabs"
            android:parentActivityName=".Activity.MainActivity"></activity>
        <activity android:name=".testActivity"
            android:parentActivityName=".Activity.MainActivity">

        </activity>
    </application>

</manifest>